<form action="/answer" data-turbo="false">
  <label>Ask your coach anything:</label>
  <br>
  <input 
  type="text" 
  name="question"
  id="question"
  placeholder="">
  <input type="submit" value="Ask" id="btn-submit">
</form>

